*, .container-fluid {
    padding: 0;
    margin: 0;
}

.navbar {
    height: 64px;
}

.body {
    height: 150vh;
    font-family: B Nazanin, serif;
}

.header-image img {
    width: 100%;
    z-index: 0;
}

.nav img {
    width: 16px;
    height: 16px;
}

#navbarSupportedContent .nav-element-seperator {
    margin: .25rem .25rem;
    align-self: stretch; 
    flex: 0;
    border: none;
    background: #959EA6; 
    min-height: 1px;
    min-width: 1px; 
    height: 2rem;
}

.link-style {
    text-decoration: none; 
    color: black;
}

.search-bar {
    position: relative;
    margin: -80px 85px 0 65px;
    height: 265px;
    border: 1px solid lightgray;
    z-index: 20;
    background-color: white;
}

.search-type{
    margin: 0 110px;
}

.search-type .col{
    padding:10px;
    height:80px;
}

.search{
    height:106px;
}

.content{
    margin:25px 100px 0 65px;
}

.service-items{
    height:80px;
    border: 1px solid lightgray;
    align-content: center;
    margin: 0 -10px 10px 0;
}

.services img{
    width: 36px;
    height: 36px;
}

.services a {
    color: inherit;
    text-decoration: none;
}

.app{
    border: 1px solid lightgray;
    height:250px;
}

.carousel{
    height: auto;
    margin-bottom: 2rem;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev{
    display: flex;
}

.que-img{
    margin-left: 12px;
    border-radius: 50%;
    background-color: #E8F9FC ;
    color: #17A2B8;
    padding: 5px;
    flex: 0 0 auto;
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

.adv-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.adv-item {
    flex-basis: calc(33.3333% - 20px);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.adv-item img {
    margin-right: 15px;
    width: 89px;
    height: 89px;
}

.footer-img{
    width: 35px;
    height: 35px;
    fill: #a52a2a;
}

.footer a{
    text-decoration: none;
    color: gray;
}

.footer-qr-img{
    width: 69px;
    height: 69px;
    border: 1px solid lightgray;
    padding: 0.25rem;
}