*, .container-fluid {
    padding: 0;
    margin: 0;
}

.body {
    height: 150vh;
    font-family: B Nazanin, serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff; /* تغییر رنگ پس زمینه به سفید یا رنگ دیگری که دلخواهید */
    transition: transform 2s ease-in-out;
    height: 64px;
}

.navbar-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.navbar-visible {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.header-image img {
    width: 100%;
    z-index: 0;
    margin-top: 70px;
}

.nav img {
    width: 16px;
    height: 16px;
}

#navbarSupportedContent .nav-element-seperator {
    margin: .25rem .25rem;
    align-self: stretch; 
    flex: 0;
    border: none;
    background: lightgray;
    min-height: 1px;
    min-width: 1px; 
    height: 1.5rem;
}

.link-style {
    text-decoration: none; 
    color: black;
}

.search-bar {
    position: relative;
    margin: -80px 85px 0 65px;
    height: 265px;
    border: 1px solid lightgray;
    z-index: 20;
    background-color: white;
}

.search-bar img{
    width: 36px;
    height: 36px;
}

@media (max-width: 768px) {
    .search-bar {
        margin:10px 5px 0 5px;
        height: 350px;
    }
}

@media (max-width: 576px) {
    .search-bar {
        width: 100%;
    }
}

#rl-img{
    width: 16px;
    height: 16px;
}

.search-type{
    margin: 0 110px;
}

.search-type .col{
    padding:10px;
    height:80px;
}

.search{
    height:106px;
}

.content{
    margin:25px 80px 0 65px;
}

.service-items{
    height:80px;
    border: 1px solid lightgray;
}

.services img{
    width: 36px;
    height: 36px;
}

.services a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 768px) {
    .services {
        margin:10px 15px 0 15px;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev{
    display: flex;
}

@media (max-width: 768px) {
    .carousel {
        margin:0 -5px;
    }
}

.app{
    border: 1px solid lightgray;
    height:296px;
}

@media (max-width: 768px) {
    .app {
        margin:0 5px;
        height: 190px;
    }
}

@media (max-width: 768px) {
    .faq {
        margin:0 10px 0 0;
    }
}

@media (max-width: 768px) {
    .faq-body {
        margin:0;
    }
}

.que-img{
    margin-left: 12px;
    border-radius: 50%;
    background-color: #E8F9FC ;
    color: #17A2B8;
    padding: 5px;
    flex: 0 0 auto;
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

@media (max-width: 768px) {
    .paragraphs {
        margin:15px;
    }
}

.adv-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.adv-item {
    flex-basis: calc(33.3333% - 20px);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.adv-item img {
    margin-right: 15px;
    width: 89px;
    height: 89px;
}

@media (max-width: 768px) {
    .adv {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .adv-item img {
        margin-right: 10px;
        width: 50px;
        height: 50px;
    }
}

.footer-img{
    width: 24px;
    height: 24px;
    fill: #a52a2a;
    margin-right: 30px;
}

.footer a{
    text-decoration: none;
    color: gray;
}

.footer-qr-img{
    width: 69px;
    height: 69px;
    border: 1px solid lightgray;
    border-radius: 1rem;
    padding: 0.25rem;
}